<section class="article">
<h2>La Classe</h2>
<p>Au voisinage du petit port de pêche de la ville de Mèze, le Club "La folle parenthèse"
    de l'année en toute convivialité. </p>
<p> Notre équipe vous permettra de profiter pleinement de vos vacances dans ce cadre d'exception.
    Sur les bords du Bassin de Thau, d'une superficie de 2 Ha entièrement clôturé, le village est composé
    de 60 maisonnettes de 2 à 7 personnes en rez-de-chaussée ou en étage avec vue imprenable sur la mer,
    ainsi que 8 chambres entièrement rénovées de 2 à 4 personnes.</p>
<p>Site d'une grande tranquillité, complètement sécurisé avec portillons électriques, accès direct à la mer (plage
    sous surveillance) et centre-ville à 5 minutes.</p>
<p> Parking véhicule à l'intérieur du centre.</p>
</section>
<!-- Partie produits -->
<section class="products">
    <div class="product-card">
        <div class="product-image">
            <img id="img1" src="../public/images/420-281.jpg" alt="images/420-281.jpg">
            <a class="lien" id="PlusDetail1" href="#">Description</a>
        </div>
        <div id="imgDescription1" class="product-info">
            <h5>Description de l'image :</h5>
            <h4> Vue de la mer</h4>
        </div>
        <!-- d’autres produits -->
    </div>
    <div class="product-card">
        <div class="product-image">
            <img id="img2" src="../public/images/420-280.jpg" alt="images/420-280.jpg">
            <a class="lien" id="PlusDetail2" href="#">Description</a>
        </div>
        <div id="imgDescription2" class="product-info">
            <h5>Description de l'image :</h5>
            <h4>Vue de la Piscine</h4>
        </div>
        <!-- d’autres produits -->
    </div>
    <div class="product-card">
        <div class="product-image">
            <img id="img3" src="../public/images/chambre-2-personnes0.jpg" alt="images/chambre-2-personnes0.jpg">
            <a class="lien" id="PlusDetail3" href="#">Description</a>
        </div>
        <div id="imgDescription3" class="product-info">
            <h5>Description de l'image :</h5>
            <h4>Vue de la Chambre 2 Personnes</h4>
        </div>
        <!-- d’autres produits -->
    </div>
</section>
