<section class="container">
    <h1>Votre candidature</h1>
<form action="#" method="post" class="my-form">
    <label for="nom">Nom :</label>
    <input class="ligne" type="text" id="nom" name="nom" placeholder="Votre nom"/>
    <label for="prenom">Prénom :</label>
    <input class="ligne" type="text" id="prenom" name="prenom" placeholder="Votre prénom"/>
    <label for="tel">Téléphone :</label>
    <input class="ligne" type="tel" id="tel" name="tel" PATTERN="/^[0]{1}\d{9}$/" placeholder="Le téléphone de contact"/>
    <label for="email">Courriel :</label>
    <input class="ligne" type="email" id="email" name="email" placeholder="Le courriel de contact"/>
    <label for="site">URL :</label>
    <input class="ligne" type="text" id="site" name="site" placeholder="Adresse de votre portefeuille de compétences"/>
    <label for="cv">Transmettre votre CV :</label>
    <input class="ligne" type="file" id="cv" name="cv"/><br/>
    <input class="btn" type = "submit" id = "candidature" value="Envoyer votre candidature">
</form>
</section>

