<section class="article">
<p>Ouvert toute l'année nous vous proposons différentes formules : </p>
<ul>
    <li>La location</li>
    <li>La demi-pension</li>
    <li>La pension complète</li>
</ul>
<p>Vous pouvez opter pour forfait semaine ou un séjour à nuitée hors saison.</p>
</section>
<section class="container">
    <h1>OBTENEZ UN DEVIS DE LOCATION</h1>
    <form class="my-form">
        <label for = "txtNbJours">NB jours de location</label>
        <input class="ligne" type = "number" id = "txtNbJours">
        <label for="lstTypeChambre">Type de chambre</label>
        <select class="ligne" id="lstTypeChambre">
<!-- Insérez les données de chambre.json          -->
        </select>
        <br>
        <input class="btn" type = "submit" id = "btnCalcul">

    </form>
    <ul id="reponse"></ul>
<!--    Affichez les données saisies-->
</section>

