<p>Au voisinage du petit port de pêche de la ville de Mèze, le Club "La folle parenthèse"
    de l'année en toute convivialité. <br>
    Notre équipe vous permettra de profiter pleinement de vos vacances dans ce cadre d'exception.<br>
    Sur les bords du Bassin de Thau, d'une superficie de 2 Ha entièrement clôturé, le village est composé
    de 60 maisonnettes de 2 à 7 personnes en rez-de-chaussée ou en étage avec vue imprenable sur la mer,
    ainsi que 8 chambres entièrement rénovées de 2 à 4 personnes.</p>
<p>Site d'une grande tranquillité, complètement sécurisé avec portillons électriques, accès direct à la mer
(plage sous surveillance) et centre-ville à 5 minutes. <br>
Parking véhicule à l'intérieur du centre.</p>

<p>Ouvert toute l'année, nous vous proposons différentes formules : </p>
<ul>
    <li>La location</li>
    <li>La demi-pension</li>
    <li>La pension complète</li>
</ul>
<p>Vous pouvez opter pour forfait semaine ou un séjour à la nuitée hors saison.<br>

Des prestations adaptées à vos besoins :</p>
<ul>
    <li>Vacances, séjours familles</li>
    <li>Séjours groupes</li>
    <li>Séminaires, séminaires team building</li>
    <li>Journée d'étude</li>
    <li>Repas d'affaires</li>
    <li>Assemblées générales</li>
    <li>Formations</li>
    <li>Salles de réunion</li>
    <li>Banquets</li>
    <li>Dîners améliorés</li>
    <li>Réunions de famille</li>
    <li>Stages</li>
    <li>Compétitions sportives</li>
    <li>Week-end et courts séjours</li>
</ul>
